@import "Variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $font-content;
    font-size: $font-medium;
}

body {
    background-color: $color-black-100;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    .pageWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        word-break: break-word;
        min-height: 100vh;
        min-height: 100dvh;
        width: 100%;
    }
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

input,
button {
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}

button {
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 31.25rem;
    margin: 0 auto;
    gap: $size-extra-large;
    img {
        width: 70%;
        object-fit: contain;
        margin: 0 auto;
    }
    .form-content-wrapper {
        display: flex;
        gap: $size-medium;
    }
    .form-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: $size-small;
        .form-input {
            padding: $size-medium;
            border-radius: $size-small;
            background-color: $color-black-100;
            border: 1px solid $color-white-10;
        }
        .error-message {
            background-color: $color-red-100;
            color: $color-white-100;
            padding: $size-small;
            border-radius: $size-small;
            margin-block-start: $size-small;
            width: fit-content;
        }
    }
    .form-submit {
        background-color: $color-black-150;
        padding: $size-medium;
        border-radius: $size-small;
    }
    .form-link-wrapper {
        display: flex;
        gap: $size-small;
        margin: 0 auto;
        .form-link {
            text-decoration: underline;
            color: $color-white-100;
            &:hover {
                color: $color-white-50;
            }
        }
    }
}

.version-app {
    margin: 0 auto;
    color: $color-white-10;
}
