@import "../../assets/styles/Variables.scss";

.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: $size-largest;
    height: 100%;
    .header {
        display: flex;
        flex-direction: column;
        gap: $size-large;
        h1 {
            background: linear-gradient(111deg, #f66a4b 15.87%, #a24ae7 60.65%, #4859f3 89.14%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            display: inline-block;
            letter-spacing: 0.3125rem;
            text-transform: lowercase;
            position: relative;
            font-weight: bold;
            &::before {
                content: "";
                position: absolute;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                right: -7.5px;
                top: 0;
                width: 15px;
                height: 15px;
                background: url("../../assets/icons/icon-star.svg") no-repeat;
                background-size: contain;
            }
        }
        p {
            color: $color-white-100;
            letter-spacing: 0.1563rem;
            font-size: $font-small;
            text-transform: lowercase;
        }
    }

    .chatRecommandationsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $size-small;
        .chatRecommandation {
            padding: $size-small $size-medium $size-small $size-medium;
            border: 1px solid $color-white-25;
            border-radius: $size-medium;
            width: 100%;
            height: 2.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $font-small;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                border-color: transparent;
            }
        }
    }

    .chatWrapper {
        display: flex;
        flex-direction: column;
        gap: $size-largest;
        width: 100%;
        height: 80vh;
        overflow-y: scroll;
        padding-inline-end: $size-large;

        .chatbotInput {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: $size-medium;
            .chatbotImage {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                aspect-ratio: 1/1;
                border: 1px solid $color-white-25;
                border-radius: 50%;
                img {
                    width: 15px;
                    height: 15px;
                    aspect-ratio: 1/1;
                }
            }
            .chatbotMessage {
                display: flex;
                align-items: center;
                text-align: left;
                justify-content: flex-start;
            }
        }
        .userMessage {
            text-align: right;
            color: blue;
        }

        .botMessage {
            text-align: left;
            color: green;
        }
    }

    .userWrapper {
        display: flex;
        flex-direction: column;
        gap: $size-small;
        width: 100%;
        .userInput {
            width: 100%;
            display: flex;
            padding: $size-medium;
            justify-content: space-between;
            align-items: center;
            border-radius: $size-small;
            background-color: $color-white-100;
            border: none;
            width: 100%;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                left: $size-medium;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                background: url("../../assets/icons/icon-star.svg") no-repeat;
                background-size: contain;
            }
            input {
                padding: 0 $size-medium 0 $size-largest;
                background-color: transparent;
                color: $color-black-100;
                width: 100%;
            }
            button {
                text-wrap: nowrap;
                color: $color-black-100;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    color: $color-black-75;
                }
            }
        }
        small {
            color: $color-white-25;
            font-size: $font-tinyest;
        }
        .spinner {
            border: 2px solid $color-black-100;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border-left-color: $color-white-100;
            animation: spin 1s ease infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
